.HomePage .AccountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 3% 3% 0;
    padding: 3%;
    background: var(--container-background);
    color: var(--text-color);
    border-radius: 10px;
}

.HomePage .AccountContainer h1 {
    text-align: center;
    font-size: 2rem;
    font-size: 2vw;
}

.HomePage .AccountContainer .AccountButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomePage .AccountContainer .AccountButtons a, .HomePage .AccountContainer .AccountButtons button {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--button-color);
    font-weight: bold;
    font-size: 1vw;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
}

.HomePage .AccountContainer .AccountButtons a:hover, .HomePage .AccountContainer .AccountButtons button:hover {
    background-color: var(--button-hover);
}