.Solves {
    width: calc(100% / 3 * 2);
    min-height: 100%;
    color: var(--text-color);
}

.SolveHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SolveHeader h1 {
    font-size: 3rem;
    font-size: 3vw;
}

.SolveHeader h3 {
    font-size: 1rem;
    font-size: 1vw;
}

.SolveList {
    width: 100%;
}

.SolveList ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.SolveList ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-background);
    padding: 1% 2%;
    margin: 1% 0;
    border-radius: 20px;
}

.SolveData {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SolveData h3 {
    font-weight: normal;
    font-size: 1.25rem;
    font-size: 1.25vw;
    line-height: 0;
}

.SolveData .Date {
    font-style: italic;
}

.SolveData .SolveTitle {
    font-size: 1.5rem;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: bold;
    padding: 0 2%;
    color: var(--link-color);
    transition: color 1s ease, background-color 1s ease;
    -webkit-transition: color 1s ease, background-color 1s ease;
    -moz-transition: color 1s ease, background-color 1s ease;
}

.SolveData .SolveTitle:hover {
    color: var(--button-hover);
    background-color: var(--background-hover);
}

.SolveList ul li > a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--button-color);
    font-weight: bold;
    font-size: 1vw;
    padding: 2%;
    border-radius: 20px;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
}

.SolveList ul li > a:hover {
    background-color: var(--button-hover);
}