.Login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login form label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1% 0;
}

.HomePage {
    background-color: #fff !important;
}