.UploadSolve {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.UploadSolve h1 {
    font-size: 3.5rem;
    font-size: 3.5vw;
    margin: 2% 0;
    color: var(--text-color);
}

.UploadSolve form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--container-background);
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    margin-bottom: 1%;
}

.UploadSolve form label {
    font-size: 2rem;
    font-size: 2vw;
    color: var(--text-color);
}

.UploadSolve form label:not(:first-of-type) {
    margin-top: 2%;
}

.UploadSolve form input {
    font-size: 2rem;
    font-size: 2vw;
    width: 75%;
    outline: none;
    text-align: center;
}

.UploadSolve form textarea {
    font-size: 1.25rem;
    font-size: 1.25vw;
    width: 75%;
    resize: none;
    outline: none;
    text-align: center;
}

.UploadSolve form button {
    margin-top: 5%;
    font-size: 2rem;
    font-size: 2vw;
    border: none;
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 2%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
}

.UploadSolve form button:hover {
    background-color: var(--button-hover);
}

.UploadSolve form input::-webkit-outer-spin-button,
.UploadSolve form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.UploadSolve form input[type=number] {
    -moz-appearance: textfield;
}

/* REMOVE IMPORTANT EVENTUALLY */

.AddStep, .RemoveStep {
    padding: 2% 3% !important;
}

.RemoveStep {
    background-color: var(--remove-button-color) !important;
}

.RemoveStep:hover {
    background-color: var(--remove-button-hover) !important;
}

.Step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    border-bottom: 3px solid white;
}

.Step label:first-of-type {
    margin-top: 0;
}

.FinalButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.FinalButtons button {
    width: 25%;
    margin: 0 2%;
}